* {
  margin: 0;
  padding: 0;
  color: rgb(47, 47, 47);
  box-sizing: border-box;

  --form-text-color: rgb(107, 107, 107);
}

body {
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgb(93, 163, 131); */
  /* background-color: rgba(97, 195, 150, 0.8); */
  background-color: rgba(97, 195, 150, 1);
  display: flex;
  /* gap: 5%; */
  font-family: Arial, Helvetica, sans-serif;
  /* max-width: 90%;
  margin: auto; */
  /* width: 100%; */
}

@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .leftPanel {
    width: 100%;
    height: 600px;
  }
  body .rightPanel {
    width: 100%;
    height: 700px;
    /* height: auto; */
    align-items: center;
  }

  .rightPanel .quote {
    width: 90%;
    padding: 20px;
    height: auto;
    text-align: justify;
  }

  .rightPanel .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
  }

  /* .rightPanel .midSection {
    height: 220px;
    align-items: center;
    padding: 0;
  }

  .rightPanel form {
    width: 75%;
    padding-bottom: 5px;
  } */

  .rightPanel .midSection {
    padding: 10px 0;
    height: auto;
    align-items: center;
  }
  .rightPanel form {
    width: 90%;
    padding-bottom: 20px;
    justify-content: space-around;
  }
}

.leftPanel {
  background-image: url(images/sequoia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 100vh;

  filter: contrast(1.05) saturate(1.2) brightness(0.95);

  /* position: relative;
  display: flex;
  justify-content: center; */
}

/* Overlay dark */
.leftPanel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: rgba(174, 160, 57, 0.6); */
  /* background-color: rgba(62, 205, 134, 0.6); */

  z-index: 1;

  /* left: 50%; */
  top: 25%;
  transform: translate(-50%, -25%);
}

.leftPanel::after {
  content: "";
  position: absolute;
  width: 50%;
  /* height: 30%; */
  height: var(--match-height);
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: rgba(62, 205, 134, 0.6); */
  z-index: 1;

  left: 50%;
  top: 25%;
  /* transform: translate(0, -25%); */
}

.logo {
  position: absolute;
  width: min(50%, 200px);
  height: auto;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  z-index: 2;

  /* filter: brightness(2); */
}

.rightPanel {
  width: 60%;
  /* padding-left: 5%; */

  display: flex;
  /* flex-wrap: wrap; */

  flex-direction: column;
  /* align-items: flex-start; */
  /* align-content: flex-start; */

  /* overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden; */
}

@media (1200px> width > 1095px) {
  .leftPanel {
    background-position: center -100px;
  }
}

@media (width>1200px) {
  .leftPanel {
    background-position: center -150px;
  }
}

.quote {
  font-size: clamp(0.5rem, 2vh, 2rem);
  line-height: calc(1rem + 1vh);
  padding: 5% 5% 5% 10%;
  height: 25%;

  text-align: left;
  font-weight: 550;
  color: rgb(61, 61, 61);
  font-family: "Courier New", Courier, monospace;
  margin-top: 5%;
}

/* FORMMMMMMMMMMMMMMM */
form {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: flex-end; */

  /* width: 400px; */
  /* height: 70%; */
  width: 90%;
  max-width: 400px;
  column-gap: 20px;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--form-text-color, rgb(53, 53, 53));
}

input {
  height: 1.5rem;
  border-radius: 3px;
  border: rgba(115, 156, 142, 0.6) solid 2px;
  color: var(--form-text-color, rgb(53, 53, 53));
  /* background-color: transparent; */
  background-color: #d7fbec;
  padding-left: 3px;
  font-weight: 550;

  /* width: 300px; */
}

::placeholder {
  opacity: 0.7;
}

input:focus {
  outline: rgb(24, 153, 108) solid 2px;
  border: none;
}

.midSection {
  width: 100%;
  /* height: 30%; */
  background-color: rgb(179, 234, 209);
  /* padding-left: 10%; */

  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: center; */
  /* justify-content: center; */
  gap: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

  padding: 20px 0 30px 10%;
}

.login-section {
  margin-top: 20px;
  margin-left: 10%;
}

#accButton {
  font-size: 0.9rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 600;

  background-color: #00793f;
  color: white;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out;
}

#accButton:active {
  transform: scale(0.95);
}

#accButton:hover {
  background-color: rgb(151, 222, 189);
  color: rgb(55, 55, 55);
}

span a {
  font-weight: 600;
  color: #00793f;
}
